*{
    margin: 0px;
    font-family: Arial;
    border: border-box;
}
/* bar section */
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-logo {
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url("Amazon-logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 2px solid white;
}
/* box-2*/
.nav-address:hover{
    border: 2px solid white;
}
.add-first{
    color: #cccccc;
    font-size: 0.85rem;

}
.add-second{
    font-size: 1rem;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* box -3*/
.nav-search{
    margin-left: 50px;
    border-radius: 4px;
    height: 35px;
    width: 620px;
    background-color: whitesmoke;
    display: flex;
}
.search-icon{
    color: #0f1111;
    background-color: #febd68;
    display: flex;
    width: 45px;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
.search-select{
    width: 50px;
    background-color: lab(89.43% 1.4 -1.72 / 0.999);
    border: none;
}
.search-input{
    width: 600px;
    font-size: 1rem;
    border: none;
}
/**box-4**/
.nav-sign{
    margin-left: 40px;
}
.sign-first{
    font-size: 12px;
}
.sign-second{
    font-size: 16px;
}
/** box-5 **/
/* Both sign-first and sign-second classes are similiar to box-5 */
.nav-order{
    margin-left: 40px;
}
.nav-cart {
    font-size: 1rem;
    font-weight: 700;
}
.nav-cart i{
    font-size: 20px;
}

/* panel section */
.panel{
    height: 60px;
    background-color: #232f3f;
    color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.panel-all {
    color:#ffffff;
    margin-left: -80px;
}

/* body section */
.hero-section{
    height: 600px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.hero-wish{
    height: 40px;
    background-color: #ffa600ed;
    text-align: center;
    width: 90%;
    position: relative;
    bottom: 125px;
}
.content1{
    background-color: lab(89.43% 1.4 -1.72 / 0.999);
    display: flex;
    justify-content: space-evenly;

}
.box{
    margin-top: 20px;
    border: 2px solid white;
    height: 400px;
    width: 23%;

}
.content2{
    background-color: lab(89.43% 1.4 -1.72 / 0.999);
    display: flex;
    justify-content: space-evenly;
}
#box1{
    background-image: url("box1.jpg");
    background-size: cover;
}
#box2{
    background-image: url("box2.jpg");
    background-size: cover;
}
#box3{
    background-image: url("box3.jpg");
    background-size: cover;
}
#box4{
    background-image: url("box4.jpg");
    background-size: cover;
}
#box5{
    background-image: url("box5.jpg");
    background-size: cover;
}
#box6{
    background-image: url("box6.jpg");
    background-size: cover;
}
#box7{
    background-image: url("box7.jpg");
    background-size: cover;
}
#box8{
    background-image: url("box8.jpg");
    background-size: cover;
}

/* Footer style */
.footer-panel1{
    height: 60px;
    color: white;
    font-size: 0.85rem;
    background-color: #37475a;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-panel2{
    
    padding: 40px;
    color: hwb(213 33% 52%);;
    background-color: #222f3d;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}

ul a{
    display: block;
}
#p1,#p2,#p3,#p4{
   color: white;
}

.footer-panel3{
    color: white;
    height:70px;
    background-color: #0f1111;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url("Amazon-logo.png");
    background-size: cover;
    height: 55px;
    width: 100px

}
.footer-panel4{
    color: white;
    background-color: #222f3d;
}
.pages a{
    margin: 5px;
}
.pages{
    text-align: center;
    padding: 0.8rem;
}
.copyright{
    text-align: center;
    padding: 0.8rem;
}
