*{
    margin: 0px;
    padding:0px;
    color: azure;
}

#navbar{
    height: 60px;
    background-color: #0f1111;
}
button{
    background-color: #f08804;
}
#logo{
    color: #f08804;
}
a{
    text-decoration: none;
    margin-right: 200px;
}
