div{
    height: 200px;
    width: 600px;
    text-align: center;
    position: absolute;
    left: 100px;
    top: 100px;
    animation: animation 10s ease-in 2s infinite normal;
}
@keyframes animation{
    0%{
        left: 100px;
        background-color: black;
        color: white;
        background-image: url("jujustu\ kaisen.jpg");
        background-size: cover;
    }
    50%{
        background-color: gold;
    }
    100%{
        left: 300px;
        background-color: blue;
        color: black;
        background-image:url("Building photo.jpg");
        background-size: cover;
    }
}
@media (max-width: 300px){
    div{
        background-color : green;
    }
}
@media(min-width : 300px) and (max-width : 400px){
    div{
        background-color: pink;
    }
}
@media(min-width :400px) and (max-width :600px){
    div{
        background-color: red;
    }
}
@media(min-width : 600px){
    div{
        background-color: blue;
    }
}