h1{
    color: blue;
    background-color: gray;
}
button {
    color: greenyellow;
    background-color: cadetblue;
}
body{
    color: mediumorchid;
    background-color: gray;
}
p{
    color: brown;
}